#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


my $package_name = "developer-test-merge";
my $package_version = "alpha";

my $config
    = {
       core_directory => './',
       description => 'Neurospaces developer package merge tests.',
       html_output_directory => './tests/html-merge',
       package => {
		   name => $package_name,
		   version => $package_version,
		  },
       tests_directory => './tests/to-be-merged/100_high-level/',
      };


return $config;


