#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "workflow-automation-engine";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "beta";


my $config
    = {
       core_directory => '../',
       description => 'Neurospaces workflow-automation-engine tests.',
       html_output_directory => './html',
       package => {
		   name => $package_name,
		   version => $package_version,
		  },
       tests_directory => './specifications',
      };


return $config;


